build/
install/
log/
venv/
models/
weights/
__pycache__/
*.egg-info/
.vscode/

mobileclip_blt.pt
mobileclip_blt.ts

database/images/
database/annotations.json
database/categories.json
database/images.json
database/questions.json

tools/*/output/
tools/*/input/
tools/captured_images/
