build/
install/
log/
venv/
models/
weights/
audio_sample/
__pycache__/
*.egg-info/
.vscode/
*.zip

mobileclip_blt.pt
mobileclip_blt.ts

database/images/
database/annotations.json
database/categories.json
database/images.json
database/questions.json

tools/*/output/
tools/*/input/
tools/captured_images/
sam2_l.pt
controled_experiment/data/
audio_test_sample/
